@plugin "daisyui/theme" {
    name: "aquadrive-dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #1c1828;
    --color-base-200: #261f34;
    --color-base-300: #352c43;
    --color-base-content: #f4eded;
    --color-primary: #656ea4;
    --color-primary-content: #f4eded;
    --color-secondary: #8e6aa0;
    --color-secondary-content: #f4eded;
    --color-accent: #656ea4;
    --color-accent-content: #f4eded;
    --color-neutral: #1c1828;
    --color-neutral-content: #f4eded;
    --color-info: #656ea4;
    --color-info-content: #f4eded;
    --color-success: #52b788;
    --color-success-content: #1c1828;
    --color-warning: #f9db6d;
    --color-warning-content: #1c1828;
    --color-error: #e66260;
    --color-error-content: #1c1828;
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
